<?xml version="1.0"?>
<!--
    Copyright 2013 MagentoPush

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    @category    MagentoPush
    @package     MagentoPush_GuestManagement
-->
<config>
    <sections>
        <customer>
            <groups>
                <guestmanagement translate="label" module="guestmanagement">
                    <label>Guest Customers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <confiramtion translate="label">
                            <label>Send email confirmation?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>A new customers will be notified by email.</comment>
                        </confiramtion>
                        <register_after_checkout translate="label">
                            <label>Automatic registration after checkout?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This option allow to register every customer who proceed through checkout as guest.</comment>
                        </register_after_checkout>
                        <generate_pass translate="label">
                            <label>Use autogenerated password?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Every customer will get unique, generated randomly, 6-character password.</comment>
                        </generate_pass>
                        <default_pass translate="label">
                            <label>Default password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Use only if auto generating is off.</comment>
                        </default_pass>
                    </fields>
                </guestmanagement>
            </groups>
        </customer>
    </sections>
</config>


